.vision{
    padding-bottom: 20rem;
    overflow: hidden;
}
.vision-heading{
  text-transform: uppercase;
  color: #dad0d0;
  font-size: 3rem;
  font-family:  'ADLaM Display', cursive;
}

.vision .container {
    position: relative;
    width: 100%;
    
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 16.5%;
    grid-template-rows: min-content;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    overflow-y:hidden;
    
  }
  .vision .container .box {
    position: relative;
    width: 150px;
    height: 150px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
    border-radius: 5%;
  }
  .vision .container:hover .box {
    transform: rotateY(25deg);
  }
  .container .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .vision .container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .vision .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20%;
  }
  .vision .container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(200deg,white,#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .vision .container .box:hover .imgBx:before {
    opacity: 1;
  }
  .vision .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .vision .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .vision .container .box .content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .vision .container .box:hover .content h2 {
    transform: translateY(0px);
  }
  .vision .container .box .content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .vision  .container .box:hover .content p {
    transform: translateY(0px);
  }


  @media (max-width: 45rem) {
    .vision .container {
      display: flex;
      flex-wrap: wrap; /* Allow content to wrap to the next row */
      overflow-x: auto;
      overscroll-behavior: contain;
      overflow-y: hidden;
      padding: 1rem;
      padding-right: 3rem;
    }
  
    .vision .container .box {
      max-width: 11rem; /* Set a maximum width for the boxes */
      flex-shrink: 0; /* Prevent items from shrinking to fit */
      margin-right: 15px;
      margin-top: 45px;
      transform: rotateY(0deg) scale(1);
    }
  
    .vision .container .box:hover {
      transform: rotateY(0deg) scale(1);
      z-index: 1;
      box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    }
  }
  
  